[COLLECTION]
PATH = imdb.npz

[MODEL]
VOCABULARY_SIZE = 10000
SENTENCE_LENGTH = 1600
EMBEDDING_LENGTH = 128
FILTERS = 128
FILTER_SIZES = 3, 4, 5
DROPOUT = 0.5
LOSS_FUNCTION = binary_crossentropy
OPTIMIZER = adam

[FITTING]
EPOCHS = 2
BATCH_SIZE = 16

[OUTPUT]
PATH = /path/to/your/directory
